# Java / Spring Boot
target/
*.class
.mvn/*
!.mvn/wrapper/
!.mvn/wrapper/maven-wrapper.jar
**/.mvn/*
!**/.mvn/wrapper/
!**/.mvn/wrapper/maven-wrapper.jar
!**/.mvn/wrapper/maven-wrapper.properties
*testcontainers.properties


# Python & Testing
__pycache__/
*.pyc
.venv/
venv/
wheels/
*.egg-info/
.pytest_cache/
.coverage

# Node / React
node_modules/
dist/
build/

# Documentation
*.md
!README.md
!**/README.md
!README.md.example
!**/README.md.example

# Environment & Secrets
.env
.env.*
!.env.example
observability/prometheus/secrets/

# Logs & Temporary files
*.log
*.tmp

# IDE & OS
.idea/
.vscode/
*.iml
.DS_Store
Thumbs.db
